/*==================== GOOGLE FONTS ====================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --hue-color: 240;
/* Color Codes */
--first-color-alt: hsl(var(--hue-color), 57%, 53%);
--first-color-lighter: hsl(var(--hue-color), 92%, 85%);
--title-color: hsl(var(--hue-color), 8%, 15%);
--text-color: hsl(var(--hue-color), 8%, 45%);
--text-color-light: hsl(var(--hue-color), 8%, 65%);

 /*========== Font and typography ==========*/
 --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.8rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
}

/*==================== BASE ====================*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
  }
  
  h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

/*==================== REUSABLE CSS CLASSES ====================*/
.section {
    padding: 2rem 0 2rem;
  }
  
  .section__title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
  }
  
  .section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-3);
  }
  
  .section__title, 
  .section__subtitle {
    text-align: center;
  }
  
  .bold {
    font-weight: var(--font-medium);
  }

  .title {
    margin-top: 6rem !important;
    text-align: center;
    letter-spacing: .1rem;
    font-size: var(--big-font-size);
  }

  swiper-container {
    margin: 6rem 3rem;
  }

  .project__title {
    font-size: 2rem !important;
    margin-bottom: 1rem !important;
  }

  .project__title, 
  .project__subtitle {
    text-align: center;
}

  .project__container {
    overflow: initial;
  }
  
  .project__content {
    padding: 0 1.5rem;
  }

  .project__img{
    margin: 0;
    padding: 0;
    width: 48vw;
    border-radius: .5rem;
    justify-self: center;
  }

  .project__title {
    color: var(--first-color-alt);
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-0-5);
  }

  .project__subtitle {
    margin: 1.5rem 0 !important;
    font-size: 1rem !important;
  }
  
  .project__description {
      color: var(--first-color-lighter);
  }


  /*large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

@media screen and (min-width: 1024px) {
    .project__img {
        width: 50vw;
    }
    .project__title {
        font-size: 1.8rem !important;
    }
    .project__data {
        margin: 0 10rem 2rem;
    }
    .project__description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .project__data {
        margin: 0 20rem 2rem;
    }
    .project__description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1600px) {
    .project__data {
        margin: 0 25rem 2rem;
    }
    .project__description {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1900px) {
    .project__data {
        margin: 0 35rem 2rem;
    }
    .project__description {
        font-size: 1.2rem;
    }
}


@media (max-width: 768px) {
    swiper-container {
        margin: 3rem;
    }
    .title {
        font-size: 2.2rem;
    }

    .project__data {
        margin: 0rem 3rem 2rem;
    }
}

/* Smaller devices */
@media screen and (max-width: 350px){
    .project-title {

    }
}

@media screen and (max-width: 568px) {
    .project__img {
        width: 400px !important;
    }
    .project__title {
        font-size: 1.3rem !important;
    }
    .project__data {
        margin: 1rem 2rem 1rem !important;
    }
    .project__description {
        text-align: left !important;
    }
    
}